<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- 循环成谁就在谁的标签上加上 v-for -->
            <!-- <li v-for="item in name">{{item}}</li> -->
            <li v-for="(item,index) in name">
                {{item}}{{index+1}}
            </li>
        </ul>
        <ul>
            <li v-for="(item,index) in list" :key="index">{{item}}</li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: ["张三", "李四", "王五"],
                list: ["姚明", "李娜", "女排", "男足"]
            },
            methods: {}
        });
    </script>
</body>

</html>