<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <!-- ：key唯一标识  在页面上不会有任何显示  优化vuejs内部的diff算法 -->
            <div v-for="(value,key,index) in name" :key="index">
                {{key}}={{value}}
            </div>
        </div>
        <div>
            <div v-for="(value,key,index) in person" :key="index">
                {{key}}{{value}}
            </div>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: {
                    a: 1,
                    b: 2,
                    c: 3
                },
                person: {
                    name: "王大锤",
                    money: 12,
                    car: "大奔"
                }
            },
            methods: {}
        });
    </script>
</body>

</html>