<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>老高的表格案例</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <div class="page-header">
          <h1>表格案例 <small>Follow me!!!</small></h1>
        </div>
        <!-- 添加框 -->
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入你理想的公司" />
          </div>
          <button class="btn btn-success" type="submit">添加</button>
        </div>
        <!-- 搜索框 -->
        <div class="form-inline" style="margin: 20px 0">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索关键字" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>公司名称</th>
            <th>事件</th>
            <th>操作</th>
          </thead>
          <tbody>
            <!-- 谁要循环就要给谁加 v-for -->
            <tr v-for="(item,index) in list" :key="index">
              <td>{{index+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date}}</td>
              <td>
                <a href="#">删除</a>
              </td>
            </tr>
            <!-- 如果数组中有元素说明是true 取反就是false  false在v-if就是隐藏-->
            <tr v-if="!list.length">
              <td colspan="4" style="color:#999">没有任何数据</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script>
    var vm = new Vue({
      el: ".container-fluid",
      data: {
        list: [
          { name: "腾讯", date: new Date() },
          { name: "阿里巴巴", date: new Date() },
          { name: "抖音", date: new Date() },
          { name: "今日头条", date: new Date() }
        ]
      }
    });
  </script>
</body>

</html>