<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>老高的表格案例</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container-fluid" v-cloak>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <div class="page-header">
          <h1>表格案例 <small>Follow me!!!</small></h1>
        </div>
        <!-- 添加框 -->
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入你理想的公司" v-model.trim="name" v-mhn />
            <!-- v-model.trim把空格给取消掉 -->
          </div>
          <!-- disabled true是无法选择  当name存在的时候  取反就是false 取消无法选择   当name不存在的时候 取反就是true 无法选择状态-->
          <button class="btn btn-success" type="submit" @click="addItem" :disabled="!name">添加</button>
        </div>
        <!-- 搜索框 -->
        <div class="form-inline" style="margin: 20px 0">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索关键字" v-model="searchStr" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>公司名称</th>
            <th>事件</th>
            <th>操作</th>
          </thead>
          <tbody>
            <!-- 谁要循环就要给谁加 v-for -->
            <tr v-for="(item,index) in list" :key="index">
              <td>{{index+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date|datePra}}</td>
              <td>
                <!-- .prevent取消默认跳转 -->
                <a href="#" @click.prevent="delItem(item.id)">删除</a>
              </td>
            </tr>
            <!-- 如果数组中有元素说明是true 取反就是false  false在v-if就是隐藏-->
            <tr v-if="!list.length">
              <!-- true显示 false隐藏 、 -->
              <td colspan="4" style="color:#999">没有任何数据</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script src="./moment.min.js"></script>
  <script src="./axios.min.js"></script>
  <script>
    //添加全局自定义指令
    Vue.directive("mhn", {
      inserted(dom) {
        dom.focus();
      }
    })
    var vm = new Vue({
      el: ".container-fluid",
      data: {
        name: "",
        searchStr: "",
        list: []
      },
      methods: {
        //封装函数
        getAndShow() {
          //从server.json文件中获取数据
          axios.get("http://localhost:8088/product").then(res => {
            //this指向vm实例
            // console.log(res);
            //如果上一层父级不是箭头函数就会this就会指向window
            this.list = res.data
          })
        },
        addItem() {
          axios.post("http://localhost:8088/product", {
            name: this.name,
            date: new Date()
          }).then(res => {
            //添加之后再次获取新的数据
            this.getAndShow();
            this.name = ""
          })
        },
        delItem(i) {
          if (confirm("你确定要删除吗")) {
            axios.delete(`http://localhost:8088/product/${i}`).then(res => {
              // console.log(res);
              //删除之后从新获取一下
              this.getAndShow();
            })
          }
        }
      },
      filters: {
        datePra: function (value) {
          //对时间进行格式化
          return moment(value).format("YYYY-MM-DD HH:mm:ss");
        }
      },
      // computed: {
      //   search() {
      //     // this.searchStr  //拿到搜索框的值
      //     // this.list  //拿到list数组
      //     return this.list.filter((item) => {
      //       //这个返回的true false
      //       // console.log(item.name.includes(this.searchStr));
      //       //当搜索框内什么也没有的时候  也可以把list数组返回出来
      //       return item.name.includes(this.searchStr)
      //     })
      //   }
      // },
      //会在vue实例化对象创建完毕之后 再执行  同el data methods都是同级  他是一个函数
      created() {
        //直接调用封装好的函数
        this.getAndShow();
      },
      //只要搜索框内的数据改变就会监听到
      watch: {
        //这里的变量必须和上面数据中的变量对应
        searchStr: function (newValue) {
          axios.get(`http://localhost:8088/product?name_like=${newValue}`).then(res => {
            // console.log(res);
            this.list = res.data;
          })
        }
      }
    });
  </script>
</body>

</html>